<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
{% csrf_token %}
<form action="{% url 'create' %}" method="post">
    <h2>Enter Question<input type="text" name="question"/></h2><br>
    <h4>Enter Choice 1<input type="text" name="choice1"/></h4><br>
    <h4>Enter choice 2<input type="text" name="choice2"/></h4><br>
    <input type="submit" value="submit" name="submit">
    <a href="{% url 'home' %}">Return to home</a>
</form>
</body>
</html>